#root {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  background-color: var(--dark);
  gap: 20px;
  padding: 30px;
  border-radius: 20px;
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  background-color: var(--dark);
  border-radius: 15px;
}

.loading-text {
  font-size: 1.5em;
  font-weight: 500;
  font-family: inherit;
  color: var(--light);
}

.loading-text span {
  color: var(--secondary);
}

.loading-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: var(--secondary);
  border-radius: 50%;
  margin: 10px;
  animation: loading 0.3s ease-in-out infinite;
}

@keyframes loading {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (width > 815px) {
  .container {
    width: 70%;
  }
}

@media (width > 1200px) {
  .container {
    width: 50%;
  }
}
