@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap");

:root {
  /* Variables */
  --dark: #30323d;
  --bg: #242424;
  --secondary: #4d5061;
  --blue: #5c80bc;
  --light: #cdd1c4;
  --yellow: #e8c547;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;

  height: 100vh;
  padding: 0 20px;
  background-color: var(--bg);
  font-family: "Manrope", sans-serif;
  color: var(--light);
}
