@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap");

:root {
  font-family: "Montserrat", system-ui, Avenir, Helvetica, Arial, sans-serif;

  /* Variables */
  --dark: #30343f;
  --dark-alt: #242424;
  --dark-blue: #1e2749;
  --blue: #273469;
  --secondary: #acdde7;
  --light: #d8dbe2;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;

  height: 100vh;
  padding: 0 20px;
  background-color: var(--dark-alt);
  font-family: "Manrope", sans-serif;
  color: var(--light);
}
